<h1>
    Sign In, Here
</h1>
<h1 id="verfied">
    
</h1>

<form class="form" [formGroup]="signIn">
    <input type="text" placeholder="Type our First Name" formControlName="user">
    <input type="text" placeholder="Type Your Middle Name" formControlName="userMiddle">
    <input type="text" placeholder="Type Your Last Name" formControlName="userLast">
    <select name="country" id="country">  
        <option value="-">Select Your Country</option>
        <option value="India">India</option>
        <option value="America">America</option>
        <option value="Australia">Australia</option>
        <option value="Japan">Japan</option>
        <option value="Korea">Korea</option>
        <option value="Africa">Africa</option>
        <option value="Bermuda">Bermuda</option>
        <option value="Pochinki">Pochinki</option>
    </select>
    <a id="sign" (click)="signInUser()" routerLink="">Sign In</a>
</form>
