<h1>
    Sign In, Here
</h1>

<div class="form">
    <input type="text" placeholder="Type Your First Name">
    <input type="text" placeholder="Type Your Middle Name">
    <input type="text" placeholder="Type Your Last Name">
    <select name="country" id="country">
        <option value="-">Select Your Country</option>
        <option value="India">India</option>
        <option value="America">America</option>
        <option value="Australia">Australia</option>
        <option value="Japan">Japan</option>
        <option value="Korea">Korea</option>
        <option value="Africa">Africa</option>
        <option value="Bermuda">Bermuda</option>
        <option value="Pochinki">Pochinki</option>
    </select>
    <button id="sign">Sign In</button>
</div>
