main{
    max-width: 1000px;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.imgdiv{
    max-width: 500px;
    height: 500px;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}

.imgdiv img{
    width: 100%;
}

.fleximg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.miniimg{
    max-width: 100px;
    height: 100px !important;
    border: 1px solid midnightblue;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.miniimg img{
    width: 100%;
    transition: 200ms;
}

.miniimg img:hover{
    opacity: 50%;
}

li{
    margin: 20px !important;
}

#fixed{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1000;
    cursor: pointer;
    display: none;
}

#fixed img{
    max-width: 500px;
}

.fixed2{
    display: flex !important;
     align-items: center;
    justify-content: center;
}

.content{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 100px;
    padding: 1em;
}


.content-wrapper{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.content-wrapper h1{
    font-size: 1.2rem;
}

.content-wrapper h2{
    font-size: 1rem;
}
.content-wrapper h3{
    font-size: .9rem;
}

.content-wrapper >div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.btn-buy{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buy a{
    text-decoration: none;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    font-size: 1.5rem;
    padding: .6em 3em;
    transition: 200ms;
}

.btn-buy a:hover{
    color: red;
    background-color: white;
}

@media (max-width:600px) {
    .fleximg{
        flex-direction: row;
    }
    .grid{
        grid-template-columns: 100%;
        
    }
    #fixed img{
        position: relative;
        max-width: 100% ;
    }
}