/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}


@media (max-width:600px) {
    html{
        font-size: 10px;
    }
}