/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.beforefixed{
    display: none;
}

.fixed{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 1000 !important;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed img{
    max-width: 500px;
    margin: auto;
}




@media (max-width:600px) {
    html{
        font-size: 10px;
    }
}