
<main>
    <footer>
        <div>
    <h3>
        Social links
    </h3>
    <a href="https://www.instagram.com/amaryamuna/">Instagram</a>
    <a href="https://www.linkedin.com/in/amar-vishwakarma-876b29244/">linked in</a>
    <a href="https://github.com/AmarVcode">Github</a>
    <a href="https://www.hackerrank.com/amarvcode">hackerrank</a>
        </div>
    
        <div>
    <h3>
        Services
    </h3>
    <h4>Web Development</h4>
    <h4>Spas ( Single Page webApplicationS )</h4>
        </div>
    </footer>
    <div id="block">
        <h2>&copy; AmarVcode</h2>
    </div>
    
    
    </main>