header{
    width: 100%;
    background-color: #191970;
    
}

nav{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

nav>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    width: 1.2rem;
    display: none;
    fill: white;
    cursor: pointer;
    transition: 200ms ease-in-out !important;
    box-sizing: content-box;
    padding: 1rem;
}

#menu>svg{
    align-items: center;
    justify-content: center;
}

#menu:hover{
    transform: rotatez(90deg);
}


 

#signin{
    padding: 0.5em 2em;
    font-size: 1.2rem;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    margin: .5rem;
    color: white;
    cursor: pointer;
    transition: 100ms;
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
}

#signin:hover{
    border:2px solid #1919707b;
    background-color: white;
    color: #191970;
}

#menus{
    display: grid;
    grid-template-columns: auto auto auto;
}
#menus>a{
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg,transparent,transparent,white);
    background-size: 400%;
    background-position: left;
    padding: 1em 3em;
    font-size: 1.2rem;
    transition: 500ms;
    
}

#menus>a:hover{
    background-position: right;
    color: #191970;
}



@media  (max-width:800px) {

    #menus{
        display: none;
    }

    .droptime{
    display: grid !important;
    grid-template-columns: auto !important;
    position: absolute;
    left: 0;
    box-shadow: 0px 0px 10px black;
    background-color: #191970;
}
#menu{
    display: flex;
    z-index: 1000;
}
}