

<main>
    <h1 id="maintitle">
        {{title}}
    </h1>

    <div class="products" >
        <div *ngFor="let items of array" class="items">
        <div>
<div class="imgdiv">
    <img src="{{items.main_img}}" alt="" (click)="fixedimg(items.main_img)">
</div>
        </div>
        <div>
<h2>{{items.mini_title}}</h2>
<h4>Brand :- {{items.brand}}</h4>
<h3>Price :- {{items.price}} ₹</h3>
<a routerLink="productdetail" class="detail" (click)="detail(items)" (click)="scroll()">Detail</a>
        </div>
        </div>
        
    </div>
<a (click)="deleted()" (click)="scroll()" id="delete" >
    Delete Favorites
</a>
</main>

<div class="beforefixed" (click)="fixedimg(true)" id="fixeddiv">
    <img src="" alt="" id="myimg">
    </div>